/* 
iHeartRadio Colors
-------------------
C6002B - red
000000 - black
939697 - grey 
ffffff - white 
*/

body {
  background-color: grey;
  color: c6002b;
  padding: 50px;
  font-family: Arial;
  text-align: center;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: grey;
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}